.page {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px;
    position: relative;
  }
  
  .page .section {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 60px 170px;
    position: relative;
    width: 100%;
  }
  
  .page .container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    position: relative;
  }
  
  .page .title {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 865px;
  }
  
  .page .vector {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 156px;
    width: 1440px;
  }
  
  .page .div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
    padding: 60px 170px;
    position: relative;
    width: 100%;
  }
  
  .page .avatar {
    background-color: #d8d8d880;
    border-radius: 50px;
    height: 100px;
    position: relative;
    width: 100px;
  }
  
  .page .container-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 560px;
  }
  
  .page .text-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
  }
  
  .page .chip-group {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
  }
  
  .page .chip {
    align-items: center;
    background-color: #0000000d;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .page .text {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .div-wrapper {
    align-items: center;
    background-color: #0000000d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    position: relative;
    width: 64px;
  }
  
  .page .button {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 160px;
  }
  
  .page .button-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  
  .page .seconday {
    align-items: center;
    border: 1px solid;
    border-color: #000000;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    position: relative;
    width: 160px;
  }
  
  .page .title-2 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .primary {
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    position: relative;
    width: 160px;
  }
  
  .page .title-3 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .img {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 228px;
    width: 1440px;
  }
  
  .page .section-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
  }
  
  .page .container-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 1000px;
  }
  
  .page .title-4 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 520px;
  }
  
  .page .list {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 20px 0px;
    position: relative;
    width: 100%;
  }
  
  .page .metric {
    align-items: flex-start;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
    overflow: hidden;
    padding: 16px;
    position: relative;
  }
  
  .page .title-5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    color: #00000080;
    display: -webkit-box;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .page .data {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #000000;
    display: -webkit-box;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 53px;
  }
  
  .page .change {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #000000;
    display: -webkit-box;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30px;
  }
  
  .page .data-2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #000000;
    display: -webkit-box;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 32px;
  }
  
  .page .change-2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #000000;
    display: -webkit-box;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 19px;
  }
  
  .page .vector-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 356px;
    width: 1440px;
  }
  
  .page .container-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 600px;
  }
  
  .page .container-4 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 600px;
  }
  
  .page .title-6 {
    align-self: stretch;
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .page .section-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 50px;
    position: relative;
    width: 100%;
  }
  
  .page .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -10px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .vector-3 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 600px;
  }
  
  .page .vector-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 296px;
    width: 1440px;
  }
  
  .page .container-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
  }
  
  .page .section-4 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    justify-content: center;
    padding: 60px;
    position: relative;
    width: 100%;
  }
  
  .page .container-6 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 60px;
    height: 100px;
    justify-content: center;
    position: relative;
  }
  
  .page .title-7 {
    align-self: stretch;
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 97px;
  }
  
  .page .title-8 {
    align-self: stretch;
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 54px;
  }
  
  .page .title-9 {
    align-self: stretch;
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 124px;
  }
  
  .page .top-bar {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #0000001f;
    display: flex;
    gap: 20px;
    height: 80px;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .page .devquiz-logo {
    height: 60px;
    margin-bottom: -10px;
    margin-top: -10px;
    position: relative;
    width: 60px;
  }
  
  .page .title-10 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    width: 130px;
  }
  
  .page .navbar {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    position: relative;
  }
  
  .page .tab {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .title-11 {
    color: #000000;
    flex: 1;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
  }
  
  .page .primary-wrapper {
    all: unset;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    margin-bottom: -4px;
    margin-top: -4px;
    position: relative;
  }
  